@model CRUDescuelaMVC.Models.alumno

@{
    ViewBag.Title = "Detailles Alumno";
}

<h2>Detalles del Alumno</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_alu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_alu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad_alu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad_alu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sem_alu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sem_alu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gen_alu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gen_alu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carrera.nom_c)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carrera.nom_c)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.mat_alu }) |
    @Html.ActionLink("Regresar al listado", "Index")
</p>
